.header{
	min-height: 80px;
	background-color: red;
}
.container{
	border: 20px solid orange;
	overflow: hidden;
}
.blog{
	width: 60%;
	float: left;
    min-height: 100px;
    background-color: green;
}
.contact{
	width: 40%;
	float: right;
	min-height: 100px;
	background-color: blue;
}

.wrapper{
	overflow: hidden;
}
.box{
	float: left;
	width: 33.33%;
	min-height: 140px;
}

.blue{
	background-color: blue
}

.yellow{
	background-color: yellow;
}
.red{
	background-color: red;
}

.footer{
	min-height: 80px;
	background-color: black;
}